* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}
/* hero section */

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/smiling-fisherman.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -10;
    background-attachment: fixed;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.logo-container img {
    height: auto;
    width: 100px;
}

.nav-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
.nav-button-container img {
    height: auto;
    width: 60px;
}

/* overlay */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-content h1 {
    font-size: 4rem;
    color: white;
    margin-bottom: 30px;
}

.hero-content button {
    padding: 12px 20px;
    margin-top: 20px;
    background: #eef0f1;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-content button:hover {
    color: #005fd1;
}

footer{

    background-image: url('./assets/net-capture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer-contents {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #3f3f38;
}

/* responiveness */
@media (max-width: 768px) {
    .hero_content h1 {
        font-size: 2rem;
    }
    .hero_content p {
        font-size: 1rem;
    }
}
